<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nl2rss</title>
    <link rel="stylesheet" href="/style/pico.min.css">
		<link rel="stylesheet" href="/style/build/globals.css">
  </head>
	<body>
		<div id="page-wrapper" class="login">
			<article>
				<form>
					<h1>Login</h1>
					<input placeholder="password..." type="password" />
					<p class="error"></p>
					<button name="password" type="submit">Login</button>
				</form>
			</article>
		</div>
		<script src="/scripts/login.js"></script>
	</body>
</html>

